<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nitesh</title>

    <link href="static/style.css" rel='stylesheet' type="text/css">
    <link href="{{ url_for('static', filename='static/favicon.ico') }}" rel='shortcut icon'>


</head>
<body>

<form action ="submit_form" method="post" >
 NAME  : <input type="text"  name ="uname"  > <br>
  Email_ID  : <input type="email"  name="email"> <br>
   Subject : <input type="text"  name="subject" > <br>
   Message <textarea name="msg" > </textarea>
<button type ="submit" > SEND </button>
</form>
<p class="round3"> Nitesh Saini Python Developer , Web Master </p>

<img align="center" border="5" height="600" src="static/img.jpeg" width="700"> <br>
!--image-->

<font color="White" size="800"> I'm Nitesh Saini Software Developer , Currently in Pune </font>


</body>
</html>